[Unit]
Description=Docker Compose Application Service
Requires=docker.service
After=docker.service

[Service]
Type=simple
WorkingDirectory=/
ExecStart=/bin/bash -c "docker compose -f /compose.yaml up"
ExecStop=/bin/bash -c "docker compose -f /compose.yaml down"
ExecReload=/bin/bash -c "docker compose -f /compose.yaml restart"
Restart=always
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target